/*
* Styles for Mobile
*/
.about-page {
    background-image: url('../imgs/dressBackground.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-page-container{
    display: block;
    padding: 4rem;
    padding-top: 5rem;
}

/*
* Styles for tablet
*/
@media only screen and (min-width: 600px) {  
    .about-page-container{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        padding-top: 10rem;
    }
}
/*
* Styles for desktop
*/
@media only screen and (min-width: 768) {
    
}